<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.satish.facebook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "info.androidhive.parsenotifications.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.satish.facebook.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.satish.facebook.permission.C2D_MESSAGE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_facebook"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <!--home-->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <!--Login-->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Register-->
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"></activity>
        <!--friends tabs activity-->
        <activity
            android:name=".activity.FriendsHandlerActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <!--user images-->
        <activity
            android:name=".activity.ImagesActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <!--full image-->
        <activity
            android:name=".activity.FullImageActivity"
            android:screenOrientation="portrait">

        </activity>
        <!--comment post-->
        <activity
            android:name=".activity.CommentActivity"
            android:screenOrientation="portrait"></activity>
        <!--profile image upload-->
        <activity
            android:name=".activity.ProfileImageActivity"
            android:screenOrientation="portrait">

        </activity>
        <!--feed post -->
        <activity
            android:name=".activity.FeedCreateActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <!--feed item-->
        <activity
            android:name=".activity.FeedItemActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait">

        </activity>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name=".receiver.CustomPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="com.parse.push.intent.DELETE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "info.androidhive.parsenotifications" to match your app's package name. -->
                <category android:name="com.satish.facebook" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
